<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADL data</title>
    <style>
        table, th, td {
            border : 1px solid black;
        }

    </style>
</head>
<body>
    <h1> ADL data </h1>    
    <table>
        <tr>
            <% for ( i in heads) { %>
                <th> <%= heads[i] %> </th>
            <%} %>
        </tr>

    <% for ( i in listData ) { %>
        <tr>
            <td> <%= listData[i].id %> </td>
            <td> <%= listData[i].sh_id %> </td>
            <td> <%= listData[i].service_id %> </td>
            <td> <%= listData[i].sp_id %> </td>
            <td> <%= listData[i].location %> </td>
            <td> <%= listData[i].time %> </td>
            <td> <%= listData[i].device_type %> </td>
            <td> <%= listData[i].device_no %> </td>
            <td> <%= listData[i].device_action %> </td>
            <td> <%= listData[i].raw_data %> </td>
        </tr>
    <% } %>
    </table>
</body>
</html>
